@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cecfc7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ada8b6;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 0.3s ease-in-out;
  background: #573280;
}

.ant-modal-content {
  background-color: #eff8e2 !important;
}